.content {
  margin: 0 0 1rem;
  font-size: 4.2vw;
  font-family: var(--fontTwo);
  font-weight: 400;
}

@media only screen and (min-width: 1024px) {
  .content {
    font-size: 18px;
    color: var(--tan);
  }
}

@media only screen and (min-width: 1920px) {
  .content {
    font-size: 22px;
  }
}
