.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sig {
  width: clamp(150px, 50%, 245px);
  transform: rotate(-15deg);
}

@media only screen and (min-width: 1024px) {
  .sig {
    margin-right: 2rem;
  }
}
